<% provide(:title, "Home")%>

<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is home page for the Ruby on Rails Tutorials
  </h2>

  <%= link_to "Sing Up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), "http://rubyonrails.org" %>