<% provide(:title, "Update Profile")%>
<h2>Update Your Profile</h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Save change", class: "btn btn-primary"%>
    <% end %>
     <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
     </div>
  </div>
</div>
