<% provide(:title, "Sing up")%>
<h1>Sing Up Hurry </h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create new account", class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
