 <footer class="footer">
   <small>
     This is Ruby on Rails Tutorials App
   </small>
   <nav>
     <ul>
       <li><%= link_to "About", about_path %></li>
       <li><%= link_to "Contact", contact_path %></li>
       <li><%= link_to "News", "#" %></li>
     </ul>
   </nav>
 </footer>